
<br/>
<br/>
<br/>
<br/>

<div class="span9 offset2 smurfy text-center">

	<h1 class="custom-h1">
		I love Booya Fitness
	</h1>

	<h2>
		Affordable Boutique Workouts - Halleluah!
	</h2>

	<%= link_to 'Launch', '#', :class=> 'btn btn-info btn-large' %>

</div>