<% @pics.each do |pic| %>

<div class="smurfy span4 text-center">
	<h1 class="custom-h1">
		Title: <%= pic.title %>
	</h1>
	<br />
	<h2>
		Subtitle: <%= pic.subtitle %>
	</h2>
	<br />
	<h2>
		Message: <%= pic.message %>
	</h2>
	
</div>


<% end %>